<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

	<extensions>
	</extensions>

	<targets>

		<target name="console" xsi:type="Console" detectConsoleAvailable="false" />
		<target name="allfile" xsi:type="File"
				fileName="${basedir}\logs\${shortdate}.log"
				encoding="utf-8"
				layout="[${longdate}]{${machinename}][${level}] ${message} ${exception}" />
	</targets>

	<rules>
		<!-- all logs, including from Microsoft -->
		<logger name="*" minlevel="Trace" writeTo="allfile"/>
		<logger name="*" minlevel="Trace" writeTo="console" />
	</rules>
</nlog>